form.sss {
    background: white;
    margin: 1em auto;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    padding-bottom: 1em;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
}
form.sss .header {
    background: white;
    padding: 2px;
    border-radius: 3px 3px 0 0;
}
form.sss h1 {
    background: #3d85ad;
    color: #fff;
    padding: 16px;
    margin: 0;
    font-weight: normal;
    padding-top: 64px;
    font-size: 24px;
    line-height: 1.125em;
}
form.sss label {
    margin: 1em 0 0.5em 0;
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}
form.sss input {
    height: 3em;
    padding: 0 1em;
    width: 100%;
    display: block;
    border-radius: 2px;
    border: solid 1px #ddd;
}
form.sss button {
    margin: 1em 0 0 0;
    display: block;
    background: #00dfc3;
    color: white;
    border: none;
    padding: 1em;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);
    border-radius: 1px;
}
form.sss p.notes {
    font-size: 14px; 
    background: #334442;
    color: white;
    padding: 1em;
    border-radius: 1px;
}

.sss-cta {
    background: #4BB4DE;
}

.sss-root a {
    color: #3d85ad;
}

.sss-header {
    font-family: 'Roboto', sans-serif;
    background: #3d85ad;
    color: #fff;
    vertical-align: bottom;
    font-size: 22px;
}

.sss-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.sss-cta a {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    display: block;
    color: white;
    padding: 8px;
}

.sss-root {
    background: #eee;
}

.sss-form {
    background: #fff;
}

.sss-banner {
    background: #fff;
}

.sss-banner img {
    height: 120px;
    display: block;
}

.sss-from {
    font-size: 12;
}

.sss-disclaimer {
    font-family: 'Roboto', sans-serif;
    font-size: 10;
    color: #666;
}

.sss-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 11;
    padding-top: 0;
    padding-bottom: 40px;
}